.eventTicketsAmount:error{
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.specialTicketsAmount:error{
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.specialTickets:error{
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.allEventTickets:error{
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.name:error {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.lastName:error {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.email:error {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.allSelectedTickets:error{
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}