.flowPane {
    -fx-border-color: BLACK;
    -fx-background-color: WHITE;
}
.mfx-text-field .floating-text{
    -fx-background-color: #DAC0A3;
    -fx-text-fill: BLACK;
}

.comboGroup {
    -fx-border-color: BLACK;
    -fx-background-color: #DAC0A3;
    -fx-border-radius: 10;
}

.textFieldGroup {
    -fx-background-color: WHITE;
    -fx-border-radius: 5;
}

.buttonGroup {
    -fx-border-color: BLACK;
    -fx-border-radius: 10;
}

.buttonGroup:pressed {
    -fx-text-fill: WHITE;
    -fx-border-color: BLACK;
    -fx-border-radius: 10;
    -fx-background-color: #988672;
}

.vHBoxGroup {
    -fx-background-color: #DAC0A3;
}

.scrollPane {
    -fx-background-color: #DAC0A3;
}

.cancelBtn {
    -fx-text-fill: #EA363C;
    -fx-border-color: BLACK;
    -fx-border-radius: 10;
}

.cancelBtn:pressed{
    -fx-text-fill: WHITE;
    -fx-border-color: #F16F73;
    -fx-background-color: #F16F73;
}

.ticketTypeTF:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}

.ticketPriceTF:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}

.ticketQuantityTF:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}
