.background-pane {
    -fx-background-image: url("11663890_20944693.jpg");
    -fx-background-size: cover;

}
.password:error {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.userName:error {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.invalidError{
    -fx-text-fill: red;
    -fx-font-size: 17;
}
