/* event.css */


VBox, HBox {
    -fx-background-radius: 10px; /* Set corner radius */
    -fx-padding: 10px; /* Add padding to create space between content and border */
}


TextField, MFXComboBox {
    -fx-background-radius: 5px; /* Set corner radius */
    -fx-border-radius: 5px; /* Set border radius */
}

Button {
    -fx-background-radius: 5px; /* Set corner radius */
}

Label {
    -fx-background-radius: 5px; /* Set corner radius */

}

.bold-label {
    -fx-font-weight: bold; /* Make text bold */
}

.startDate:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}
.startTime:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}


.invalidInput:error{
    -fx-background-color: #E1EBF2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #5585b5;
    -fx-font-size: 12;
    -fx-text-overrun: elipsis;
    -fx-font-weight:bold;
}


.eventName:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}

.eventLocation:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}
.endDate:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}
.endTime:error{
    -fx-border-color: red;
    -fx-border-width: 2;
}