.searchBox {
    -fx-border-color: #102C57;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.eventsView > .scroll-bar:vertical {
    -fx-background-color: #102c57;
    -fx-background-radius: 0 0 10 0;
    -fx-border-radius: 0 0 10 0;
}

.eventsView > .scroll-bar:vertical > .thumb {
    -fx-background-color: #F8F0E5;
}

.eventsView > .viewport {
    -fx-background-color: #F8F0E5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.eventsView {
    -fx-background-color: #F8F0E5;
    -fx-border-color: #102c57;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}

.eventsContainer {
    -fx-background-color: #F8F0E5;
    -fx-border-color: #102c57;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}

.eventsHeader {
    -fx-background-color: #EADBC8;
    -fx-border-color: #102c57;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}

.eventsHeader > .label {
    -fx-text-fill: #102c57;
    -fx-font-weight: 800;
    -fx-font-size: 20;

}

.tableHeader {
    -fx-background-color: #F8F0E5;
    -fx-background-radius: 10;
    -fx-border-color: #102c57;
    -fx-border-radius: 10;
}

.column {
    -fx-background-color: #f1e9da;
}

.eventColumn {
    -fx-background-radius: 10 0.0 0 0.0;
    -fx-border-radius: 10 0.0 0 0.0;
}

.actionColumn {
    -fx-background-radius: 0 10 0 0.0;
    -fx-border-radius: 0 10 0 0.0;
}

.table-view .column-header-background {
    -fx-background-radius: 10 10 0 0.0;
}

.eventBar {
    -fx-fill: #dac0a3;
    -fx-stroke: #dac0a3;
}
.eventLogo {
    -fx-text-fill: #102c57;
    -fx-background-color: #DAC0A3;
}
.eventParent {
    -fx-background-color: #F8F0E5;
}